/*
  Karoace theme colors 
*/
:root {
  --black: #121212;
  --black_alt: #585858;

  --blue: #203856;
  --blue_alt: #62aedc;

  --cyan: #005F87;
  --cyan_alt: #0087AF;

  --green: #3da542;
  --green_alt: #a6d378;

  --magenta: #800080;
  --magenta_alt: #C25ABD;

  --red: #7a3842;
  --red_alt: #cb6362;

  --white: #b9b9b9;
  --white_alt: #E4E4E4;

  --yellow: #e28c00;
  --yellow_alt: #eccd00;
}